@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7bd7e2;
  font-family: "Ysabeau SC", sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.que {
  margin-bottom: 13px;
}

.dropdown-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  cursor: pointer;
  padding: 8px;
  width: 5rem;
  font-size: 18px;
  width: 160px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  background: white;
  border: 1px solid white;
}

ul {
  list-style: none;
}

.drop-list {
  background-color: #fff;
  width: 170px;
  margin-top: 3px;
  border-radius: 5px;
}

.drop-list ul li {
  padding: 10px 8px;
  cursor: pointer;
  font-size: 18px;
}

li:hover {
  background-color: #ededed;
}
